*{
  box-sizing: boredr-box;
  padding: 0;
  margin: 0;
}

body{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(212, 239, 247);
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

header{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background-color: rgb(212, 239, 247);
  z-index: 100;
}
nav{
  height: 3.5rem;
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 3rem;
}
.nav-link a{
  cursor: pointer;
}
nav a img{
  width: 150px;
  height: 100%;
}


.login{
  padding: 6px 15px;
  border: 1px solid orangered;
  border-radius: 5px;
}
.login a{
  color: orangered;
}
.signup{
  padding: 6px 15px;
  background-color: orangered;
  border-radius: 5px;
}

.signup a{
  color: white;
}
nav ul li a{
  color: black;
}
.demo a:hover{
  color: orangered;
}
.demo{
  margin-left: 3rem;
}
/* .dropdown-item{
  position: relative;
} */
.nav-link-drop{
  position: relative;
  display: inline-block;
}
/* .dropdown-list{
  position: absolute;
  top: 2.8rem;
  background-color: rgb(125, 221, 243);
  width: 150px;
  height: 150px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  padding: 10px;
  transition: opacity .3s, top .3s;
  

} */
 .dropdown-list{
  position: absolute;
  min-width: 168px;
  background-color: rgb(212, 239, 247);
  display: none;
 }
/* .nav-link:hover .dropdown-list{
  opacity: 1;
  transition: opacity .3s, top .3s;
  
} */
.dropdown-list li{
  color: black;
  padding: 12px 16px;
  display: block;
}
.nav-link-drop:hover .dropdown-list{
  display: block;
}
.nav-link-drop li:hover{
  background-color: aqua;
} 
.dropdown-item{
  cursor: pointer;
}

/* navbar mobile */
@media screen and (max-width:1200px){
  .nav-list{
    position: absolute;
    top: 3.5rem;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(192, 230, 241);
    width: 100%;
    padding: 1rem 1rem;
    row-gap: 1rem;
    height:60vh;
    opacity: 0;
    transition: opacity .4s;
  }
  .demo{
    margin-left: 0rem;
  }
  .nav-toggle div{
    width: 18px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
  }
  .nav-toggle{
    cursor: pointer;
    
  }
  .show-menu{
    opacity: 1;
  }
}
 
.section-1{
  width: 100%;
  margin-top: 2rem;
}
.section-1-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;
}
.div1,
.div2,
.div3{
  width: 80%;
  text-align: center;
}
.text1,
.text2{
  font-size: 55px;
  font-weight: bolder;
}
.text1{
  color: blue;
}
.text2{
  color: orangered;
  padding-bottom: 2rem;
}
.div2{
  font-weight: 600;
  padding-bottom: 2rem;
}
.button-1{
  border: none;
  color: white;
  background-color: orangered;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.section-2{
  width: 100%;
  margin-bottom: 2rem;
}
.section-2-container{
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3{
width: 100%;
}
.section-3-container{
display: flex;
flex-direction: column;
justify-content: center;
margin: 2rem 5rem;
}
.sub-container-1,
.sub-container-2{
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
margin-bottom: 2rem;
}
.container-item2 img{
  width: 100%;
}
.container-item1,
.container-item2,
.container-item3,
.container-item4{
width: 50%;
}
.container-item1 .one{
color: orangered;
font-size: 15px;
font-weight: 600;
}
.container-item1{
display: flex;
flex-direction: column;
align-items:flex-start;
justify-content: space-between;
row-gap: 1rem;
margin-right: 1rem;
}
.container-item1 .two{
font-size: 35px;
font-weight: 600;
}
.container-item1 .three{
font-size: 20px;
font-weight: 100;
line-height: 30px;
}
.container-item1 .four{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.four .btn-1{
  background-color: orangered;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  margin-right: 1rem;
}
.four .btn-2{
  color: orangered;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid orangered;
}

.section-ul{
  list-style-type: circle;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  row-gap: 1rem;
}
.container-item3{
  margin-right: 3rem;
}

